body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: black;
}

/* Set padding to keep content from hitting the edges */

/*** BEGIN CUSTOM STYLES ***/
p {
    color:whitesmoke
}
    
.container {
    max-width: none;
}

.col .stats {
    background-color: black;
}

.dropdown-link {
    color: #999999 !important;
}

.dropdown-link:hover {
    color: whitesmoke !important;    
}

.h-apollion {
    color: whitesmoke;
    text-align: center;
}

.navbar-apollion {
    background-color: darkslategrey;
    color: whitesmoke !important;
}

.row .stats {
    background-color: black;
}

.stats {
    color: whitesmoke;
}
/*** END CUSTOM STYLES ***/

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.dropdown:hover .dropdown-menu {
display: block;
}
