@model Apollion.Models.StatsViewModel
@{
    ViewBag.Title = "PVP";
}

<h1 style="text-align: center">Pvp</h1>

<div class="container">
    <div class="row">
        <div class="col-lg-4 well">
            <h3 style="text-align: center">Quickplay</h3>
            @foreach (var s in Model.Value)
            {
                <div class="col-lg-12 well" style="margin: 5px">
                    @s
                </div>
            }
        </div>
        <div class="col-lg-4 well">
            <h3 style="text-align: center">Competetive</h3>
            @foreach (var s in Model.Value)
            {
                <div class="col-lg-12 well" style="margin: 5px">
                    @s
                </div>
            }
        </div>
        <div class="col-lg-4 well">
            <h3 style="text-align: center">Other</h3>
            @foreach (var s in Model.Value)
            {
                <div class="col-lg-12 well" style="margin: 5px">
                    @s
                </div>
            }
        </div>
    </div>
</div>

