@model Apollion.Models.StatsViewModel
@{
    ViewBag.Title = "PVP";
}

<h1 class="h-apollion">Pvp</h1>

<div class="container stats">
    <div class="row stats">
        <div class="col col-lg-4 well stats">
            <h3 class="h-apollion">Quickplay</h3>
            @foreach (var s in Model.Value)
            {
                <div class="col col-lg-12 well stats">
                    @s
                </div>
            }
        </div>
        <div class="col col-lg-4 well stats">
            <h3 class="h-apollion">Competetive</h3>
            @foreach (var s in Model.Value)
            {
                <div class="col col-lg-12 well stats">
                    @s
                </div>
            }
        </div>
        <div class="col col-lg-4 well stats">
            <h3 class="h-apollion">Other</h3>
            @foreach (var s in Model.Value)
            {
                <div class="col col-lg-12 well stats">
                    @s
                </div>
            }
        </div>
    </div>
</div>

